@use 'variables' as *;
@use 'uitls' as *;
@use 'reset';
@use 'components';

body {
  background: {
    color: map-get($primary-color, 'pale');
    image: url(../images/pattern-background-mobile.svg);
    repeat: no-repeat;
    position: top;
  }
}

.container {
  overflow: hidden;
  width: 86%;
  max-width: $mobile * 0.86;
  margin: space(10) auto;
  background-color: map-get($neutral-color, 'very-pale');
  border-radius: 20px;
  box-shadow: 0 10px 15px rgba($color: #000000, $alpha: 0.15);

  img {
    max-width: 100%;
  }
}

.sub-container {
  @extend %flex-column;
  align-items: center;
  width: 86%;
  margin: 0 auto;
}

.main-header {
  color: map-get($neutral-color, 'dark');
  font-weight: 900;
  margin: space(4) 0 space(3);
}

.main-paragraph {
  text-align: center;
  color: map-get($neutral-color, 'desaturated');
}

.plan-wrapper {
  @extend %flex-row, %rounded-border;
  align-items: center;
  justify-content: space-between;
  background-color: darken(map-get($neutral-color, 'very-pale'), 2%);
  padding: space(2);
  width: 100%;
  margin: space(5) 0 space(4);

  & > span:last-child {
    font-size: 14px;
    font-weight: 700;
    color: map-get($primary-color, 'bright');
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: lighten(map-get($primary-color, 'bright'), $amount: 3%);
      text-decoration: none;
    }

    &:active {
      color: lighten(map-get($primary-color, 'bright'), $amount: 10%);
      text-decoration: none;
    }
  }
}

.plan {
  @extend %flex-column;
  font-size: 15px;
  flex-grow: 1;
  margin-left: space(2);

  span:first-child {
    color: map-get($neutral-color, 'dark');
    font-weight: 900;
    margin-bottom: space(0.5);
  }

  span:last-child {
    color: map-get($neutral-color, 'desaturated');
  }
}

@media screen and (min-width: $mobile) {
  body {
    background: {
      image: url(../images/pattern-background-mobile.svg);
      size: 100% 50%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .container {
    margin: 0;
  }

  .sub-container {
    width: 76%;
  }
}
